    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">&copy; 2017 Centoku, Inc. All rigts reserved.</p>
        </div>
    </footer>
</body>
</html>