<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Centoku Inc </title>
    <link rel="icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/centoku.css">
</head>
<body>
    
    <header>
        <!-- NAVIGATION BEGIN -->
        <nav class="navbar navbar-fixed-top navbar-slide">
          <div class="container_fluid header">
                <div class="col-md-5">
                    <a class="navbar-brand goto" href=""> A R T I A S Y S </a>
                </div>
                <div class="col-md-7">
                        <p class="pull-right register"> <a href="/register"> Register </a></p>
                        <p class="pull-right login"> <a href="/login"> Login </a></p>
                </div>
            </div>
        </nav>
    </header>