<div class="container inventory-section">
    <div ui-grid="orderData" ui-grid-selection ui-grid-exporter ui-grid-importer ui-grid-pagination class="grid"></div>
    <div class="form profile-form ">
        <form method="post" class="settings">
          <div class="col-md-12 col-lg-12">
              <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="pwd" class="control-label col-sm-4 label-user-profile"> Order Id :</label>
                            <div class="col-sm-8">
                                <input type="text" id="lastName" class="form-control-static user-setting" ng-model="order_id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd" class="control-label col-sm-4 label-user-profile"> Order Name :</label>
                            <div class="col-sm-8">
                                <input type="text" id="lastName" class="form-control-static user-setting" ng-model="order_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd" class="control-label col-sm-4 label-user-profile" > Vendor Id :</label>
                            <div class="col-sm-8">
                                <input type="text" id="firstName" class="form-control-static user-setting" ng-model="vendor_id">
                            </div>
                        </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                      <div class="form-group">
                        <label for="pwd" class="control-label col-sm-4 label-user-profile" > Order Date :</label>
                        <div class="col-sm-8">
                            <input type="text" id="firstName" class="form-control-static user-setting" ng-model="order_date">
                        </div>
                      </div>
                      <div class="form-group">
                            <label for="pwd" class="control-label col-sm-4 label-user-profile" > Delivery Date :</label>
                            <div class="col-sm-8">
                                <input type="text" id="firstName" class="form-control-static user-setting" ng-model="delivery_date">
                            </div>
                        </div>
                  </div>
            </div>
            <div class="col-md-12 col-lg-12 action-inventory-btn"> 
                  <button class="btn btn-primary setting-save-btn" ng-click="vm.submitOrder()" ng-show="create"> Create </button>
                  <button class="btn btn-primary setting-save-btn" ng-click="vm.updateOrder()" ng-show="update"> Update </button>
                  <button type="reset" class="btn btn-primary setting-save-btn" ng-click="vm.cancel()" ng-show="create"> Clear </button>
                  <button class="btn btn-primary setting-save-btn" ng-click="vm.createNewOrder()" ng-show="createNew"> Create New </button>
                  <button class="btn btn-primary setting-save-btn" ng-click="vm.deleteOrder()" ng-show="deleteOrder"> Delete </button>
            </div>
        </form>
  </div>
</div>